h2{
    color:teal;
    background-color: rgb(89, 156, 0);
}

button{
    color: red;
    background-color: cyan;
}

p {
    color:olive;
    background: #5fcffc;
}

body {
    background-color: #000;
}
/* instead of using #000000 we can use just #000 here */
/* meaning like #cc55ee can be */