h1 {
    text-align: center;
    /* width: 50%; */
    font-weight: bold;
    /* or font weigth: 700 or above to set bold */
    text-decoration: #ff6512 underline wavy;
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    letter-spacing: 10px;
    font-size: 70px;
    /* font-family: Verdana; */
    font-family: sans-serif;
    /* font stacks as machines may not have some kinds of fonts, we use font stacks */
    /* can also change the thickness of lines see CSS MDN REFERENCE  */
}

/*p {
    font-weight: 700;
 } */

a {
    text-decoration: none;
}

p {
    line-height: 2.5;
}